.row-same-height {
    display: table;
    width: 100%;
    /* fix overflow */
    table-layout: fixed;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}

.ajax-loader{
    display: block;
    background: url('../images/ajax-loader.gif') center center no-repeat;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 9;
    top: 50px;
    right: 50%;}

.navbar {
    margin-bottom: 0px;
}

header {
    background: #000000 url('../images/computers2.jpg') center center;
    text-align: center;
    height: 911px;
}

header h1,
header p{
    position: relative;
    color: #fff0ee;
    z-index: 4;
}

header h1 {
    margin-top: 350px;
    font-size: 72px;
    font-family: 'Lobster', 'Times New Roman';
}

header p{
    font-size: 49px;
    font-family: 'Playball', 'Times New Roman';
}

.actors .name{
    width: 80%;
    text-align: left;
}

.actors .year,
.actors .roles-count
{
    width: 10%;
    text-align: right;
}

.actor-movies .title,
.actor-movies .roles
{
    width: 20%;
}

.actor-movies .tagline{
    width: 60%;
}

table.moviesConnect {
    width: 100%;
}

table.moviesConnect td:first-of-type{
    width: 80%;
}
table.moviesConnect td:last-of-type{
    text-align: center;
    width: 20%;
}

.modal-dialog {
    z-index: 9999;
}